* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
}

body {
    background-color: #f3f3f3;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(44, 41, 41, 0.7);
    padding: 10px 50px;
    font-size: 12px;
}

header p {
    margin: 0;
}

header .spacer {
    height: 100%;
    width: 1px;
    background: #dadada;
}

header .user_actions #logout_link,
header .user_actions #cart_link {
    border-left: 1px solid #dadada;
    margin-left: 6px;
    padding-left: 6px;
}

header .contact_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

header #logout_link,
header a {
    cursor: pointer;
    color: #fff;
    text-decoration: none; /*loại bỏ gach chan*/
}

header #logout_link:hover,
header a:hover {
    color: yellow;
}

header .search-bar {
    display: flex;
    align-items: center;
}

header input[type="text"] {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

header .search-btn {
    padding: 6px 10px;
    background-color: #ffcc00;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


/* Navigation styles */
nav {
    display: flex;
    align-items: center;
    background-color: rgba(74, 62, 62, 0.7);
    padding: 10px 20px;
    justify-content: space-between;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
}

nav img {
    height: 40px;
    margin-right: 20px;
}

nav span {
    color: rgb(3, 194, 54);
}

nav .logo {
    font-size: 24px;
    padding: 10px;
    pointer-events: none;
    /* huỷ bỏ sự kiện a */
}

nav .title1 a:hover {
    color: rgb(19, 250, 73);
}

nav .title1 select {
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: 0px;
    font-size: 16px;
}

nav .title1 option {
    color: white;
    font-weight: bold;
    background-color: gray;
}

nav .search-bar .search-btn:hover {
    color: rgb(19, 250, 73);
}


nav .title1 select:hover {
    color: rgb(19, 250, 73);
}

/*them vào thanh cố định từ trang 2*/
.navbar-fixed {
    position: fixed;
    background-color: rgb(18, 11, 11);
    top: 0;
    width: 100%;
    z-index: 1000;
}

.payment_container {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.payment_header,
.state_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.payment_header {
    padding: 10px;
    position: sticky;
    top: 54px;
    background: #fff;
    z-index: 10;
}

.payment_body {
    margin-bottom: 160px;
}

.step-wrapper {
    display: none;
}

.step-wrapper.active {
    display: block;
}

.payment_header p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1px;
    flex: 1;
    text-align: center;
}

.state_container {
    padding: 5px 10px 15px;
    border-top: 1px solid #e5e5e5;
    gap: 20px;
    position: sticky;
    top: 104px;
    background-color: #f3f3f3;
    z-index: 10;
}

.state_container .state_item{
    z-index: 11;
    flex: 1;
    text-align: center;
    padding: 5px 0;
    border-bottom: 3px solid #919eab;
    color: #919eab;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-weight: 700;
    justify-content: center;
    padding: 5px 0;
    text-transform: uppercase;
}

.state_container .state_item.active{
    border-bottom: 3px solid #df062a;
    color: #df062a;
}

.box {
    background-color: #fff;
    border: 1px solid rgba(145, 158, 171, .239);
    border-radius: 10px;
    padding: 5px 15px 0;
    width: 100%;
}

.box ul {
    padding: 0;
}

.box .view-list {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 15px 0;
    width: 100%;
}

.box .view-list .view-list-title {
    display: flex;
    font-size: 15px;
    justify-content: center;
    padding: 8px 0;
    text-decoration: underline;
    cursor: pointer;
}

.box .view-list .view-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.view-list .view-list-wrapper .order-product {
    border-bottom: 0 solid rgba(145, 158, 171, .24);
    display: flex;
    gap: 15px;
    overflow: hidden;
    padding: 12px 0;
    transition: .2s ease-in-out;
    width: 100%;
}

.order-product img {
    height: 100px;
    width: 100px;
}

.order-product .product-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
}

.order-product .product-info .name {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
}

.order-product .product-info .price {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: space-between;
    line-height: 24px;
}

.order-product .product-info .price .new {
    color: #df062a;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.order-product .product-info .price .old {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    font-weight: 600;
    position: relative;
    text-decoration: line-through;
}

.order-product .product-info .quantity {
    line-height: 1;
}

.guest-info {
    margin-top: 30px;
}

.guest-info .payment-quote-main {
    align-items: center;
    background-color: #fff !important;
    cursor: pointer;
    display: flex;
    gap: 15px;
    gap: 20px;
    min-height: 70px;
    padding: 20px;
    position: relative;
    transition: .1s ease;
    user-select: none;
}

.guest-info .payment-quote-main .default-circle,
.guest-info .payment-quote-main.active .payment-item-tick {
    display: inline-block;
}

.guest-info .payment-quote-main .payment-item-tick,
.guest-info .payment-quote-main.active .default-circle {
    display: none;
}

.guest-info .payment-quote-main:first-child {
    border-bottom: 1px solid rgba(145, 158, 171, .239);
}

.default-circle {
    border: 2px solid rgba(0, 0, 0, .353);
    border-radius: 50%;
    display: block;
    height: 24px;
    width: 24px;
}

.guest-info .payment-quote-main .payment-main-img {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    max-width: 65px;
    width: 40px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.guest-info .payment-quote-main .payment-main-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3px;
}

.guest-info .payment-quote-main .payment-main-title p {
    padding: 0;
    margin: 0;
}

.guest-info .title {
    color: #212b36;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.guest-info .box-info {
    background-color: #fff;
    border: 1px solid rgba(145, 158, 171, .239);
    border-radius: 10px;
    padding: 20px 20px 25px;
}

.guest-info .box-info .info-quote {
    margin-top: 5px;
    width: 100%;
}

.guest-info .box-info .info-quote .info-quote-bottom {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0 0;
    width: 100%;
}

.box-info .info-quote .info-quote-bottom .quote-bottom-title {
    display: flex;
    flex-shrink: 0;
    font-size: 15px;
}

.box-info .info-quote .info-quote-bottom .quote-bottom-title p {
    padding: 0;
    margin: 0;
}

.box-info .info-quote .info-quote-bottom .quote-bottom-value {
    color: #111;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.guest-info .box-info .info-quote .info-quote-block {
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}

.box-info .info-quote .info-quote-block .quote-block-item {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.info-quote .info-quote-block .quote-block-item .quote-block-title {
    color: #7c8691;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.info-quote .info-quote-block .quote-block-item .quote-block-value{
    color: #212b36;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.guest-info .box-info .custome-input {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.guest-info .box-info .box-input {
    border-radius: 0;
    height: 50px;
    position: relative;
    width: 100%;
}

.guest-info .box-info .box-input input {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(145, 158, 171, .2);
    border-radius: 0;
    box-sizing: border-box;
    font-size: 15px;
    height: 100%;
    line-height: 24px;
    padding: 18px 20px 2px 0;
    text-transform: capitalize;
    width: 100%;
}

.guest-info .box-info .box-input .box-line {
    background-color: #1e4bc9;
    bottom: 0;
    height: 1.5px;
    left: 0;
    position: absolute;
    transition: .3s ease;
    width: 0;
}

.payment-footer {
    background-color: #fff;
    border: 1px solid rgba(145, 158, 171, .239);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    box-shadow: 0 -4px 20px -1px #287cea26;
    max-width: 600px;
    padding: 10px 10px 20px;
    position: fixed;
    right: 50%;
    transform: translate(50%);
    width: 100%;
    z-index: 20;
}

.payment-footer .payment-info{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.payment-footer .btn {
    align-items: center;
    background-color: #df062a;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
    margin-top: 8px;
    width: 100%;
}

.payment-footer .payment-info p{
    font-weight: 600;
}

.payment-footer .payment-info span{
    color: #df062a;
    font-weight: 700;
}
