/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background image */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-image: url("/picture/anhnen.jpg");
  background-size: cover;
  width: 100vw; /* 100% chiều rộng của cửa sổ */
  height: 100vh; /* 100% chiều cao của cửa sổ */
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 41, 41, 0.7);
  padding: 10px 50px;
  font-size: 12px;
}

header p {
  margin: 0;
}

header .spacer  {
  height: 100%;
  width: 1px;
  background: #dadada;
}

header .user_actions #cart_link {
  border-left: 1px solid #dadada;
  margin-left: 6px;
  padding-left: 6px;
}

header .contact_info  {
  display: flex;
  align-items: center;
  gap: 16px;
}

header a {
  color: #fff;
  text-decoration: none; /*loại bỏ gach chan*/
}

header a:hover{
  color: yellow;
}

header .search-bar {
  display: flex;
  align-items: center;
}

header input[type="text"] {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

header .search-btn {
  padding: 6px 10px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Navigation styles */
nav {
  display: flex;
  align-items: center;
  background-color: rgba(74, 62, 62, 0.7);
  padding: 10px 20px;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 16px;
}

nav img {
  height: 40px;
  margin-right: 20px;
}

nav span {
  color: rgb(3, 194, 54);
}

nav .logo {
  font-size: 24px;
  padding: 10px;
  pointer-events: none; /* huỷ bỏ sự kiện a */
}

nav .title1 a:hover {
  color: rgb(19, 250, 73);
}

nav .title1 select {
  background-color: transparent;
  font-weight: bold;
  color: white;
  border: 0px;
  font-size: 16px;
}

nav .title1 option {
  color: white;
  font-weight: bold;
  background-color :gray;
}

nav .search-bar .search-btn:hover {
  color: rgb(19, 250, 73);
}


nav .title1 select:hover {
  color:  rgb(19, 250, 73);
}

/*them vào thanh cố định từ trang 2*/
.navbar-fixed {
  position: fixed;
  background-color: rgb(18, 11, 11);
  top: 0;
  width: 100%;
  z-index: 1000;
}

body {
  overflow-x: hidden;
}

/* Main content styles */

.content {
  padding: 0;
  text-align: center;
  margin: 0;
}

.content .content1 {
  padding: 150px;
}

.content .content1 h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content .content1 a{
  background-color: yellow;
  
}

.content .content1 a:hover{
  background-color: rgb(46, 247, 43);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 20px;
}

/* Danh mục */
.danh-muc {
  background: white;
  padding: 58px;
  padding-top: 100px;
  color: black;
  text-align: center;
  position: relative; /* Đặt vị trí tương đối */
}

.danh-muc .container .main-text h2{
  font-weight: bold;
}

.danh-muc .column {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.danh-muc .column .cate_item {
  color: #5f1919;
  text-decoration: none; /*loại bỏ gach chan*/
  margin-left: 30px; /*cách trái*/
  font-weight: bold;
  cursor: pointer;
}

.danh-muc .column .cate_item:hover {
  opacity: .8;
}

.danh-muc .container .row {
  padding: 10px;
}

/* Product New */
.product-new {
  background: white;
  color: black;
  text-align: center;
  padding: 50px;

  position: relative; /* Đặt vị trí tương đối */
}
.product-new .container .main-text h2{
  font-weight: bold;
}

.product-new .container .row {
  border: 0px;
}

.product-new .container .button-product-all button {
  background-color: rgb(46, 247, 43);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px;
  border-radius: 5px;
  color: white;
}

.product-new .container .main-text p{
  color: rgb(28, 36, 28);
}

/* cho giá thành màu đỏ */
.price-red {
  color: red;
  font-weight: bold;
}

/* đánh giá  */
.danh-gia {
  background: white;
  color: black;
  padding-top: 100px;
  padding-bottom: 20px;
}

.car {
  width: 100%;
  max-width: 250px; /* Thiết lập chiều rộng tối đa của hình ảnh */
  margin: 0 auto; /* Canh giữa hình ảnh trong phần tử cha */
}

.car img {
  aspect-ratio: 1;  
  display: block;
  width: 100%;
  border-radius: 50%;
  
  height: auto; /* Đảm bảo tỷ lệ hình ảnh không bị biến dạng */
}

.danh-gia .content-1 {
  padding: 80px;
}

.danh-gia h2{
  font-weight: bold;
}

.danh-gia h5{
  font-weight: bold;
}

.danh-gia .sendsubmit{
  padding-top : 90px;
}

.danh-gia .row .ten {
  color: rgb(118, 179, 11);
  font-weight: bold;
}

.danh-gia .sendsubmit .text {
  border: 1px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

.danh-gia .sendsubmit .submit {
  background: rgb(46, 247, 43);
  border: 1px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}


.showCmtWeb{
  padding-top: 60px;
  position: relative;
  height: 130px;
  background: url(./../picture/banner.jpg);
  background-size: cover;
  background-position: right;
}

.showCmtWeb a{
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 20px;
}

.showCmtWeb span{
  color: rgb(3, 194, 54);
}

.showCmtWeb .logo{
  font-size: 24px;
  padding: 10px;
  pointer-events: none;
}

